<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="{% static 'cssfile/button_file.css' %}?v={{time}}"> 
    <link rel="stylesheet" href="{% static 'cssfile/search_bar.css' %}">
    <link rel="stylesheet" href="{%  static 'cssfile/show_review.css'%}?v={{time}}">
    <link rel="stylesheet" href="{%  static 'cssfile/review.css'%}">
<link rel="stylesheet" href="{% static 'cssfile/messages.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<style>
    *{
      font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}</style
    {% block css_content %}
    {% endblock css_content %}
</head>

<body>
    
    {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
        
   
{% block content %}
    
{% endblock content %}
{% comment %} {% endif %} {% endcomment %}
        
    </body>
</html>