
{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'cssfile/nav.css'%}?v={{ time }}">

{% endblock css_content %}
{% block content %}
<nav class="menu" id="nav">
	<span class="nav-item active">
		<span class="icon">
			<i data-feather="home"></i>
		</span>
		<a href="{% url 'home' %}">Home</a>
		
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="search"></i>
		</span>
		<a href="{% url 'about' %}">About</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<span class="subicon">13</span>
			<i data-feather="bell"></i>
		</span>
		<a href="{% url 'contact' %}">Contact</a>
		
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="star"></i>
		</span>
		<a href="{% url 'services'%}">Services</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<span class="subicon">1</span>
			<i data-feather="bell"></i>
		</span>
		<a href="{% url 'profile' request.user.id %}">Profile</a>

	</span>
	<span class="nav-item">
		<span class="icon">
			<span class="subicon">1</span>
			<i data-feather="bell"></i>
		</span>
		<a href="{% url 'home-room'  %}">Room</a>
		
	</span>
	<div>
		
		{% if request.user.is_authenticated %}
		<span class="nav-item">
			<span class="icon">
				<span class="subicon">1</span>
				<i data-feather="bell"></i>
			</span>
			<a href="{% url 'home-room'  %}">create Restaurant</a>
			
		</span>
		<span class="nav-item">
			<span class="icon">
				<span class="subicon">1</span>
				<i data-feather="bell"></i>
			</span>
			<a href="{% url 'home-room'  %}">Log</a>
			
		</span>
		{% endif %}
	</div>

</nav>
{% endblock content%}