{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
  <link rel="stylesheet" href="{%  static 'cssfile/restaurant_data.css' %}?v={{ time }}">
{% endblock css_content %}
  
{% block content %}
{% include "base/navbar.html"   %}
<div class="restaurant-details">
  <div class="restaurant-obj">
     <div class="restaurant_box">
      
      <div class="restaurant-image">
        <img src="/media/{{restaurant.image}}" alt="">
      </div>
    
    <h1>{{restaurant.restaurantName}}</h1>
    
     <h3>{{restaurant.locations}}</h3>
     </div>
    </div>
    <hr>    



{% for message in messages %}
      <li>{{message}}</li>
{% endfor%}

{% include 'base/search_bar.html' %}
<form>
 
<div class="send_value" name="under_value"></div>
</form>

{% if dishes.count == 0 %}
<h2><a href="{%  url 'restaurant-data' restaurant.id %}">show all</a></h2>

{% endif %}
  
{% if dishes.count != 0 %}
    
<div class="screen_background">
        <table class="container" >
            <thead class="thead-dark">
              <tr>
                <th class="no">No</th>
                <th scope="col">dish name</th>
                <th scope="col">Image</th>
                {% comment %} <th scope="col">decriptions</th> {% endcomment %}
                 
                 {% if request.user.is_staff %}

                <th scope="col">operations</th>
                {% endif %}
                <th class="no" scope="col">price</th>

              </tr> 
            </thead>
            
          {% endif %}
            <tbody>
              {% for dish in dishes %}
              
              <tr>
                <td>{{forloop.counter}}</td>
                <td><h3>{{dish.dishName}}</h3></td>
                <td>
                  <div id="box">
                    <img src="/media/{{dish.dishImage}}/" alt="{{dish.dishImage}}">
                    </div>
                  </td>
                {% comment %} <td>{{dish.description}}</td>{% endcomment %}
                 {% if request.user.is_staff %}
                  <td>
                        <div class="operation">
                        <button class="button-85"><a href="{% url 'dish-update' dish.id %}">update</a></button><br>
                        <button class="button-85"><a href="{% url 'dish-delete' dish.id %}">delete</a></button>
                        </div>
                  </td>
                {% endif %}
                <td>{{dish.price}}</td>

              </tr>
              {% endfor %}

            </tbody>
          </table>
      </div>
 </div>

<script src=" {% static 'scripts/restaurant_data.js' %}"></script>
{% endblock content %}
    


