{% extends "base/main.html" %}
{% load static  %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'room/booking_room.css' %}?v={{time}}">
{% endblock css_content %}
{% block content %}
<div class="container">
    <div class="main-container">
        <form method="POST" action="">
            {% csrf_token%}
        <div class="box-main-container"  
                <img src="/media/{{room.roomImage}}" alt="">
                <h2>{{room.roomNAme}}</h2>
                <h3>Type :{{room.roomType}}</h3>
            <h3>location :{{room.location}}</h3>
            <h4> {{room.price}} and gst of 18% is {{gst}} </h4>
            <h3>total Cost :{{total}}</h3>
            <label for="startdate">Start date :</label>
                <input type="date" name="startdate"><br>
                <label for="enddate">End Date :</label>
                <input type="date" name="enddate"><br>
                <input type="submit" value="Book Room at {{total}}"><br>
        </div>
        </form>
    </div>
</div>



{% endblock content %}











