     {% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'room/room_data.css'%}?v={{time}}">
{% endblock css_content %}

{% block content %}
<div class="card">
    <div class="card-text">
      <div class="portada">
      </div>
      <div class="title-total">   
        {% comment %} <div class="title"><a href="{% url 'profile-update' profile.id %}">Update</a> </div> {% endcomment %}
        <h2>@{{profile.user.username}}</h2>
    
    <div class="desc">{{profile.user.email}}
        {{profile.city}}</div>
    <div class="actions">
      <button><i class="far fa-heart"></i></button>
      <button><i class="far fa-envelope"></i></button>
      <button><a href="{% url 'user-rooms' request.user.id %}">
        <img src="/media/{{profile.profilePicture}}" width="20" alt="">
       </a>     
      </button>
    </div></div>
    </div>
  </div>


<div class="room-container">
    {% include 'base/navigation.html' %}
    <br>
    <div><h2>Your Rooms</h2></div>

    {% include 'base/search_bar.html' %}
    {% for room in rooms %}
    <div class="container">
        <img src="/media/{{ room.roomImage }}" alt="Room Image"/>
        <div class="container__text">
            <h4><a href="{% url 'delete-room' room.id %}">delete</a></h4>
            <h1>{{ room.roomName }}</h1>
            <div class="container__text__star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p>
                {{ room.roomType }}
                ₹{{ room.price }}
                {{ room.location }}
            </p>
            <div class="container__text__timing">
                <div class="container__text__timing_time">
                    <h2>Type</h2>
                    <p>{{ room.roomType }}</p>
                </div>
                <div class="container__text__timing_time">
                    <h2>Price</h2>
                    <p>{{ room.price }}</p>
                </div>
                <div class="container__text__timing_time">
                    <h2>Location</h2>
                    <p>{{ room.location }}</p>
                </div>
                {% if room.available %}
                <h3>✅</h3>
                {% else %}
                <h3>❎</h3>
                {% endif %}

                {% if room in booked_rooms %}
                <h2>Booked</h2>
                {% endif %}  
             
                
                <a href="{% url 'booking-room' room.id %}"><button class="btn">View Recipe <i class="fa fa-arrow-right"></i></button></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %} 
