{% extends "base/main.html" %}\
{% block css_content %}

{% endblock css_content %}
{% block content %}
<div class="all_review">
    {% for %}
    <div>
        <div class="profile">
            <div class="profile-image"><img src="" alt=""></div>
            <div class="profile-name">{{}}</div>
        </div>
        <div class="rating">
            <div class="rating"></div>
            <div class="comment"></div>
        </div>
        <div class="review-image"></div>
    </div>
</div>
{% endblock content %}