.all_review{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.review{
    width:70%;
    height:100px;
    border: 2px solid black;
    margin: 10px;
}