{% extends "base/main.html" %}
{% load static %} 
{% block css_content %}
{% include 'base/' %}
<link rel="stylesheet" href="{% static 'account/prifile_new.css' %}?v={{time}}">
<style>
    .portada {

    background-image: url("/media/{{profile.profilePicture}}/");
    }
</style>
{% endblock css_content %}
{% block content %}

<div class="card">
 
    <div class="card-text">
      <div class="portada">
      
      </div>
      <div class="title-total">   
        <div class="title">Ant Collector</div>
        <h2>@{{profile.user.username}}</h2>
    
    <div class="desc">{{profile.user.email}}
        {{profile.city}}</div>
    <div class="actions">
      <button><i class="far fa-heart"></i></button>
      <button><i class="far fa-envelope"></i></button>
      <button><img src="/media/{{profile.profilePicture}}" width="20" alt=""></button>
    </div></div>
   
    </div>
    
   
    
  </div>


{% endblock content %}



