{% extends "base/main.html" %}
{% load static %} 
{% block css_content %}
<link rel="stylesheet" href="">
{% endblock css_content %}
{% block content %}
<div class="card">
 
    <div class="card-text">
      <div class="portada">
      
      </div>
      <div class="title-total">   
        <div class="title">Ant Collector</div>
        <h2>Morgan Sweeney</h2>
    
    <div class="desc">Morgan has collected ants since they were six years old and now has many dozen ants but none in their pants.</div>
    <div class="actions">
      <button><i class="far fa-heart"></i></button>
      <button><i class="far fa-envelope"></i></button>
      <button><i class="fas fa-user-friends"></i></button>
    </div></div>
   
    </div>
    
   
    
  </div>

{% endblock content %}



