body{
    background-color: aquamarine;
}
.main-container{
    display: flex;
    width:700px;
    height: 450px;
    margin: 100px auto;
    border: 2px solid green;
    flex-direction: column;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
   
}
.image img{
    width:120px;
}
.data *{
    margin:12px;
}
input {
    margin:14px;
}