
.card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    max-width: 360px;
    display: flex;
    margin:220px auto;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
  }
  .card h2 {
    margin: 0;
    padding: 0 1rem;
  }
  .card .title {
    padding: 1rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 12px;
  }
  .card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
  }
  .card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
  }
  .card svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
  }
  
  .img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    top: 15px;
    left: 85px;
  }
  
  .card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
  }
  

  
  .img-portada {
    width: 100%;
  }
  
  .portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: bottom center;
    background-size: cover;
  }

  

  


 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#6a0cd6; 
      background-image: linear-gradient(to top, #d20606 0%, #ded714 100%);

 }
 
 .rest-name  {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
  font: italic 5.2rem "Fira Sans", serif;
  font-size:20px;
}

 


 .blue { color: #185875; }
 .yellow { color: #FFF842; }


 .image{

	 height:100%;
	 width:110px;
   
 }  
 .image-restaurant img{ 
	 display:block;
  width: 150px;
	 height:200px;
  box-shadow: 2px 3px 17px gray;
 align-items:center;
	 margin:0 auto;;
	 border:2px solid rgb(53, 146, 167);
	 align-items:center;
	 
 }

#box img{
	width:250px;
	
}
.dishes h4{
	display:inline;
	margin:90px;
}


.main-container{
	display:flex;
   flex-direction: row;
   flex-wrap: wrap;
	
}
.container-box{
	display:block;
	border:2px solid black;
	margin:20px;
	background-image: linear-gradient(to top, #1ac5c6 0%, #b99d10 100%);

	height:350px;
	width:300px;
	transition:1s ;
}
.container-box:hover{
	box-shadow: 20 10 19px skyblue;
	padding:5px;
  background-color: #FFF842;
transform:rotate(-5deg);
	margin-bottom:12px;
}
.operation *{
	display:inline;
	
}


:root {
	--surface-color: #fff;
	--curve: 40;
  }
  

