.navigation_bar{
    border:2px solid blanchedalmond;
    height: 25px;
    width:100%;


}
.navigation_bar div {
    display: inline;
    margin:20px;
    border:1px solid black;
    border-radius: 10px;
    background-color: aqua;
}