.main-profile .profile-box{
    background-color: aquamarine;
    margin:10%;
    width:86%;
    height:75%;
    border:2px solid #000000;
    align-items:center;
    font-size: ;
}
img{
    width:250px;
    margin-left: 20px;
    margin-bottom: 20px;
}