{% extends "base/main.html" %}

{% block css_content %}


{% endblock css_content %}
{% block content %}
<div class="card">
    <div class="card-text">
      <div class="portada">
      </div>
      <div class="title-total">   
        <div class="title"><a href="{% url 'profile-update' profile.id %}">Update</a> </div>
        <h2>@{{profile.user.username}}</h2>
    
    <div class="desc">{{profile.user.email}}
        {{profile.city}}</div>
    <div class="actions">
      <button><i class="far fa-heart"></i></button>
      <button><i class="far fa-envelope"></i></button>
      <button><a href="{% url 'user-rooms' request.user.id %}">
        <img src="/media/{{profile.profilePicture}}" width="20" alt="">
       </a>     
      </button>
    </div></div>
    </div>
  </div>


  <div class="alldish">
    {% for dish in dishes %}
    <div class="card-container">
      <div class="card u-clearfix">
        <div class="card-body">
          <span class="card-number card-circle subtle">{{dish.id}}</span>
          <span class="card-author subtle">{{dish.user.username}}</span>
          <h2 class="card-title">{{dish.dishName}}</h2>
          <span class="card-description subtle">{{dish.description}}.</span>
          
             <a href="{% url 'dish-order' dish.id %}"> <button class="button-85">Order</button>
        </div>
        <a href="{%   url 'dish-order' dish.id %}">
        <img src="/media/{{dish.dishImage}}/" alt="{{dish.dishImage}}" class="card-media" />
        </a>
      </div>
      <div class="card-shadow"></div>
    </div>
    
    
    {% endfor%}
    </div>

{% endblock content %}



