{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'restaurant/dish_data.css'%} ?v={{time}}">
<style>
    .portada {  

        background-image: url("/media/{{profile.profilePicture}}/");
        }
</style>
{% endblock css_content %}

{% block content %}
{% include 'base/navigation.html' %}
<div class="card-profile">
    <div class="card-profile-text">
      <div class="portada">
      </div>
      <div class="title-total">   
        {% comment %} <div class="title"><a href="{% url 'profile-update' profile.id %}">Update</a> </div> {% endcomment %}
        <h2>@{{profile.user.username}}</h2>
    
    <div class="desc">{{profile.user.email}}
        {{profile.city}}</div>
        <div class="actions">
          <button><i class="far fa-heart"></i></button>
          <div >
            <a href="{% url 'user-dishes' request.user.id %}" class="image-logo">
              <img src="/media/restaurant_images/images.png" alt="">
              <p>dishes</p>
             </a> 
            </div>
          <div >
          <a href="{% url 'user-rooms' request.user.id %}" class="image-logo">
            <img src="/media/roomImages/images.jpg" alt="">
            <p>room</p>
           </a> 
          </div>
        </div></div>
    </div>
  </div>
<h1>Your Order Dishes</h1>
  <div class="alldish">
    {% for dish in dishes %}
    <div class="card-container">
      <div class="card u-clearfix">
        <div class="card-body">
          <span class="card-number card-circle subtle">{{dish.id}}</span>
          <span class="card-author subtle">{{dish.user.username}}</span>
          <h2 class="card-title">{{dish.dishName}}</h2>
          <span class="card-description subtle">{{dish.orders_set.location}}</span>
        </div>
        <h2>{{sum_order|get_item:dish.order.id}}</h2>
        <a href="{%   url 'dish-order' dish.id %}">
        <img src="/media/{{dish.dishImage}}/" alt="{{dish.dishImage}}" class="card-media" />
        </a>
      </div>
      <div class="card-shadow"></div>
    </div>
    
    
{% endfor%}
 </div>

{% endblock content %}



