{% extends "base/main.html" %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'restaurant/orderdish.css' %}?v={{time}}">

{% endblock css_content %}

{% block content %}
<div class="box-container">
    {% if request.user.is_staff %}
     <button class="button-85" role="button">
        <a href="{% url 'dish-delete' dish.id %}" >delete</a>
        </button>  
        <button class="button-85" role="button">
            <a href="{% url 'dish-update' dish.id %}" >Update</a>
            </button>  
        {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="image">
            <img src="/media/{{dish.dishImage}}" alt="">
            <h2>Dish: {{dish.dishName}}</h2>
        </div>
    <div>
        <h2>Price: {{dish.price}}</h2>
        <h4>Restaurant: {{dish.restaurants}}</h4>
        {% comment %} <h4>description: {{dish.description}}</h4> {% endcomment %}
        <h2>delivery Charges: {{delivery}}</h2>
        <h2>Total is {{total}} </h2><p>(including 18% gst)</p>
        <div class="reviews">
            <div class="Stars" style="--rating:{{rating|default:0}};" aria-label="Rating of this product is {{ rating|default:4|floatformat:1 }} out of 5.">
            </div>
        <div>
            
            <span>({{rating_count}} reviews)</span>
          </div>
        </div>
    
    <div>
        <div class="give_rate">
            {% include 'base/review.html' %}
        </div>
       <label for="location">Your Loaction</label><br>
        <input type="text" name="location" id="location"> <br>
        <button class="button-85">Order It</button>
    </div>
    <div><a href="{% url 'reviews-dish' dish.id %}">Reviews</a></div>
    </div>
    </form>
</div>

<div>
    {% include 'reviews/dish_reviews.html' with id=dsh.id %}
</div>
{% endblock content %}

