{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
  <link rel="stylesheet" href="{%  static 'restaurant/restaurant_data.css' %}">\
  <style>
    .restaurant-obj{
{% for img in images %}
      background-image: url("/media/{{img.image}}/");

{% endfor %}

    }
  </style>
{% endblock css_content %}  
{% block content %}
{% include "base/navigation.html"   %}
<div class="restaurant-details">
  <div class="restaurant-obj">
    <div class="operation">
      {% if request.user.is_staff  %}   
      <h4>@ {{restaurant.id}}</h4>
      <button class="button-85" role="button">
      <a href="{% url 'restaurant-update' restaurant.id %}" >edit</a>
      </button>   
      <button class="button-85" role="button">
      <a href="{% url 'restaurant-delete' restaurant.id %}" >delete</a>
      </button>   
      {% endif %}
  </div>  
    {% comment %} <div><input type="file"  name="addimage"></div> {% endcomment %}
     <div class="restaurant_box">     
      <div class="restaurant-image">
        <img src="/media/{{restaurant.image}}" alt="">
      </div>
    <h1>{{restaurant.restaurantName}}</h1>
     <h3>{{restaurant.locations}}</h3>
     </div>
    </div>
    {% for message in messages %}
      <li>{{message}}</li>
{% endfor%}
{% include 'base/search_bar.html' %}
<form>
<div class="send_value" name="under_value"></div>
</form>
{% if dishes.count == 0 %}
<h2><a href="{%  url 'restaurant-data' restaurant.id %}">Show All </a></h2>
{% endif %}
<div class="alldish">
{% for dish in dishes %}
<div class="card-container">
  <div class="card u-clearfix">
    <div class="card-body">
      <span class="card-number card-circle subtle">01</span>
      <span class="card-author subtle">{{dish.user.username}}</span>
      <h2 class="card-title">{{dish.dishName}}</h2>
      <span class="card-description subtle">{{dish.description}}.</span>
      <div class="card-read">Read</div>
      <span class="card-tag card-circle subtle">C</span>
    </div>
    <a href="{%   url 'dish-order' dish.id %}">
    <img src="/media/{{dish.dishImage}}/" alt="{{dish.dishImage}}" class="card-media" />
    </a>
  </div>
  <div class="card-shadow"></div>
</div>


{% endfor%}
</div>
{% comment %} 
{% if dishes.count != 0 %}
<div class="screen_background">
        <table class="container" >
            <thead class="thead-dark">
              <tr>
                <th class="no">No</th>
                <th scope="col">dish name</th>
                <th scope="col">Image</th>
                {% comment %} <th scope="col">decriptions</th> {% endcomment %}

                {% if request.user.is_staff %}
                <th scope="col">operations</th>
                {% endif %}
                <th class="no" scope="col">price</th>
                <th class="no" scope="col">Order</th>

              </tr> 
            </thead>  
          {% endif %}
            <tbody>
              {% comment %} {% for dish in dishes %}
              
              <tr>
                <td>{{forloop.counter}}</td>
                <td><h3>{{dish.dishName}}</h3></td>
                <td>
                    <div id="box">
                      <img src="/media/{{dish.dishImage}}/" alt="{{dish.dishImage}}">
                      </div>
                  </td>
                {% comment %} <td>{{dish.description}}</td>{% endcomment %}
                 {% if request.user.is_staff or request.user is dish.user %}
                  <td>                                                                                                                            
                        <div class="operation">
                        <button class="button-85"><a href="{% url 'dish-update' dish.id %}">update</a></button><br>
                        <button class="button-85"><a href="{% url 'dish-delete' dish.id %}">delete</a></button>
                        </div>
                  </td>
                {% endif %}
                <td>{{dish.price}}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
 </div> 
 <div>
  <h3><a href="{% url 'dish-create' restaurant.id %}">Create dish</a></h3>
 </div>
<script src=" {% static 'scripts/restaurant_data.js' %}"></script> 
{% endblock content %}