<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    {% comment %} <link rel="stylesheet" href="{% static 'styles/home.css' %}">  {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/button_file.css' %}"> 

    {% block css_content %}
        
    {% endblock css_content %}
        

</head>

<body>
{% block content %}
    
{% endblock content %}
    </body>
</html>